[submodule "apof"]
	path = apof
	url = git@github.com:PyPila/apof.git
[submodule "yell"]
	path = yell
	url = git@github.com:PyPila/yell.git
[submodule "auth"]
	path = auth
	url = git@github.com:PyPila/auth.git
[submodule "restservice"]
	path = restservice
	url = git@github.com:PyPila/restservice.git
[submodule "affront"]
	path = affront
	url = git@github.com:PyPila/affront.git
